strong {
    text-transform: uppercase;
    font-size: 20px;
}

body {
    color: white;
    background-image: url("Weather.jpg");
    font-family: "Monospace", "Courier New", serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

label {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.weatherSubmit {
    text-align: center;
}

.forecastResults {
    color: black;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.2);
}

hr {
    width: 100%;
}